src/main/mule/testing-mulestandalone-local.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2e5e653b-c53c-4855-926d-8446f676f44c" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="testing-mulestandalone-localFlow" doc:id="f8f424bb-064d-450f-9353-66cd8cce7b4b" >
		<http:listener doc:name="Listener" doc:id="9dec5cc6-d35a-442f-acc8-195aad698d62" config-ref="HTTP_Listener_config" path="/testStandalone"/>
		<set-payload value='#["Hello mulestandalone 4.1"]' doc:name="Set Payload" doc:id="2cfff466-0c64-4765-bd26-6fe942485fb9" />
		<ee:transform doc:name="Transform Message" doc:id="95cc6066-f555-4e33-bc73-c8bb4e98ab3d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---

"response":	"hello"
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="7ac8f0e6-c2c6-4a41-93ea-454a504aeea2" />
	</flow>
</mule>
